

.content-container {
    width: 80%;  
    margin: auto;
}

.source-table {
    width: 100%;
}

.results-table {
    width: 100%;
}

.source-table-container {
    border: 0.1em solid black;
    border-radius: 0.3em;
    padding: 1em;
    margin: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.filename-container {
    width: 100%;
    margin: auto;
}

.line-number {
    padding-top: 0.2em;
    padding-bottom: 0em;
    font-family: monospace;
    font-size: 1.2em;
    vertical-align:middle
}

.source-line {
    padding-top: 0.2em;
    padding-bottom: 0em;
    font-family: monospace;
    font-size: 1.2em;
    color: black;
    white-space: pre;
    vertical-align:middle
}

.line-class-alive {
    background-color: #ffc4c4;
}

.line-class-killed {
    background-color: #b6ffa0;
}

.line-class-timeout-error {
    background-color: #f4ff91;
}

table, th, td {
    border: 0px dotted grey;
    border-collapse: collapse;
}



td.line-number > a:visited, td.line-number > a {
    color: black;
    text-decoration: none;
}

td.mutant-counter > button {
    
    /* border: none; */
    /* color: black; */
    /* padding: 15px 32px; */
    /* text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em; */
    padding-top: 0.1em;
    padding-bottom: 0em;
    /* width: 4em; */

    font-family: monospace;
}


.show-mutant-list {
    display: table-row;
}

.hide-mutant-list {
    display: none;
    
}

.inline-mutant-list {
    font-family: monospace;
    font-size: 1.2em;
    font-style: italic;
    background-color: beige;
}



.filename-text {
    font-family: monospace;
    font-size: 2em;
}

header {
    background-color: rgb(30, 30, 30);
    color: rgb(226, 226, 226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
}

body {
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    background-color: rgb(240, 240, 240);
    min-height: 100%;
    
}

.header-title a, .header-title  a:visited {
    color: rgb(172, 172, 172);
    text-decoration: none;
} 

.header-title a:hover {
    color: rgb(255, 255, 255);
}

#page-container {
    position: relative;
    min-height: 99vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }