<html>
  <head>
    <link rel="stylesheet" href="../custom.css">
    <link rel="stylesheet" href="style.css">
    
  </head>
  <body>
    <div><h1>Derived from base0.hbs</h1></div>
    {{> page}}
  </body>
</html>